In [4]:
#2
#the program created to alist and print all even number and sum it
user_list=input("enter your num").split()
user_list =list(map(int,user_list))
tresh_hold =float(input("enter your num"))
m=0
for number in user_list:
    if number % 2 == 0:
        print(f"{number} :is even")
        m+=number
if tresh_hold > m :
    print ("tresh_hold > m ")
else:  
    print ("tresh_hold < m ")
m

enter your num 1 2 4
enter your num 5

2 :is even
4 :is even
tresh_hold < m

6

In [ ]:
#task 1
#the code is convert between data type
#change from str to int
x="33"
y=int(x)
print(y)
print(type(y))

In [ ]:
#task 23
#the program created to divided two numbers
def div():
    num1=float(input("enter your num1: "))
    num2=float(input("enter your num2: "))
    while num2==0:
        num2=float(input("enter your num2: "))
    return num1/num2
    
div()

In [ ]:
#task 4
#the code get me the rang from 1 to 999999
for m in range(1,1000000):
    print(m)